# Credenciais da AWS para Upload de Fotos
AWS_BUCKET_NAME="seu-bucket-name-aqui"
AWS_BUCKET_REGION="sua-region-aqui"
AWS_ACCESS_KEY_ID="sua-access-key-id-aqui"
AWS_SECRET_ACCESS_KEY="sua-secret-access-key-aqui"
